{% extends 'base.html' %}

{% block content %}

<div class="form-center">
    <div id="delete-form-1" class="form-c">
        <h3 class="form-title">Delete Book</h3>
        
        <h4>Are you sure you want to delete book - {{ object.title }}?</h4>
        
        <form action="" method="POST">
            {% csrf_token %}
            <button id="btn-form-2" type="submit" value="Yes - Delete" class="btn">Yes - Delete</button>
            <button id="btn-form-3" class="btn btn-warning">
                <a href="{% url 'detail' book.id %}">Cancel</a>
            </button>
        </form>
    </div>
</div>
{% endblock %}