{% extends 'base.html' %}

{% block content %}

<div class="form-center">
    <div>
        {% load static %}
        <img class="books-img" src="{%static 'imgs/books.png'%}" alt="book-stack">
        <div id="delete-form-1" class="form-l">
            <h3 class="form-title">Delete Book</h3>
            <h4>Are you sure you want to delete book - {{ object.title }}?</h4>
            <form action="" method="POST">
                {% csrf_token %}
                <button id="btn-form-2" type="submit" value="Yes - Delete" class="btn">Yes - Delete</button>
                <button id="btn-form-3" class="btn btn-warning">
                    <a id="link-del-1" href="{% url 'detail' book.id %}">Cancel</a>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}