{% extends 'base.html' %}
{% block content %}

<div class="details-top">
  <section class="book-details">
    <h4>{{ book.title }}</h4>
    <p> By {{ book.author }}</p>
    <div class="cover">
      {% load static %}
      <img src="{%static 'main_app/book-stack.png'%}" alt="book-stack">
      <div>
        <p>{{ book.numofpages }} pages</p>
        <p>Genre: {{ book.genre }}</p>
        {% if book.average_rating %}
        <div>
          <p>Rating:</p>
          {% if book.average_rating == 1 %}
          <span class="material-symbols-outlined">star</span>
          {% elif book.average_rating == 1.5 %}
          <span class="material-symbols-outlined">star star_half</span>
          {% elif book.average_rating == 2 %}
          <span class="material-symbols-outlined">star star</span>
          {% elif book.average_rating == 2.5 %}
          <span class="material-symbols-outlined">star star star_half</span>
          {% elif book.average_rating == 3 %}
          <span class="material-symbols-outlined">star star star</span>
          {% elif book.average_rating == 3.5 %}
          <span class="material-symbols-outlined">star star star star_half</span>
          {% elif book.average_rating == 4 %}
          <span class="material-symbols-outlined">star star star star</span>
          {% elif book.average_rating == 4.5 %}
          <span class="material-symbols-outlined">star star star star star_half</span>
          {% else %}
          <span class="material-symbols-outlined">star star star star star</span>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>

    <p>Synopsis: {{ book.synopsis }}</p>

    <form action="{% url 'assoc_book' book.id reading_list_id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Add to Reading List</button>
    </form>



    {% if user.is_superuser %}
    <a href="{% url 'books_update' book.id %}">Edit</a>
    <a href="{% url 'books_delete' book.id %}">Delete</a>
    {%endif%}
  </section>


  <section class="add-review">
    <h4 id="review-form">Leave a review!</h4>
    <div class="form-group">
      <form action="{% url 'add_review' book.id %}" method="POST">
        {% csrf_token %}
        {{ review_form.as_p }}
        <button type="submit" class="btn btn-light">Add Review</button>
      </form>
    </div>
  </section>
</div>


<h3>Reviews</h3>

{% for review in book.review_set.all %}
<div>
  <div>
    <div class="user">
      <p class="material-symbols-outlined">account_circle</p>
      <p> {{review.user.username}} | 
        {% if review.rating == 1 %}
        <span class="material-symbols-outlined">star</span>
        {% elif review.rating == 1.5 %}
        <span class="material-symbols-outlined">star star_half</span>
        {% elif review.rating == 2 %}
        <span class="material-symbols-outlined">star star</span>
        {% elif review.rating == 2.5 %}
        <span class="material-symbols-outlined">star star star_half</span>
        {% elif review.rating == 3 %}
        <span class="material-symbols-outlined">star star star</span>
        {% elif review.rating == 3.5 %}
        <span class="material-symbols-outlined">star star star star_half</span>
        {% elif review.rating == 4 %}
        <span class="material-symbols-outlined">star star star star</span>
        {% elif review.rating == 4.5 %}
        <span class="material-symbols-outlined">star star star star star_half</span>
        {% else %}
        <span class="material-symbols-outlined">star star star star star</span>
        {% endif %}
      </p>
    </div>
    <p>{{review.comment}}</p>
    {% if user.id == review.user.id%}
    <a href="{% url 'review_update' book.id review.id %}">edit</a>
    <a href="{% url 'review_delete' book.id review.id %}">delete</a>
    {% endif %}
  </div>
  {% endfor %}
</div>


{% endblock %}