{% extends 'base.html' %}
{% block content %}

<div class="details-top">
  <section class="book-details">
    <div id="book-header">
      <div>
        <h1>{{ book.title }}</h1>
        <h4> By {{ book.author }}</h4>
      </div>
      {% if user.is_superuser %}
      <div>
        <a class="btn btn-light" href="{% url 'books_update' book.id %}">
          <span id="action" class="material-symbols-outlined">edit</span>
        </a>
        <a class="btn btn-light" href="{% url 'books_delete' book.id %}">
          <span id="action" class="material-symbols-outlined">delete</span>
        </a>
      </div>
      {%endif%}
    </div>

    <div class="cover">
      {% load static %}
      <img src="{%static 'main_app/book-stack.png'%}" alt="book-stack">
      <div>
        <p>Genre: {{ book.genre }}</p>
        <p>{{ book.numofpages }} pages</p>
        <div>
          <p> Overall Rating:</p>
          {% if book.average_rating == 1 %}
          <span class="material-symbols-outlined">star</span>
          {% elif book.average_rating == 1.5 %}
          <span class="material-symbols-outlined">star star_half</span>
          {% elif book.average_rating == 2 %}
          <span class="material-symbols-outlined">star star</span>
          {% elif book.average_rating == 2.5 %}
          <span class="material-symbols-outlined">star star star_half</span>
          {% elif book.average_rating == 3 %}
          <span class="material-symbols-outlined">star star star</span>
          {% elif book.average_rating == 3.5 %}
          <span class="material-symbols-outlined">star star star star_half</span>
          {% elif book.average_rating == 4 %}
          <span class="material-symbols-outlined">star star star star</span>
          {% elif book.average_rating == 4.5 %}
          <span class="material-symbols-outlined">star star star star star_half</span>
          {% elif book.average_rating == 5 %}
          <span class="material-symbols-outlined">star star star star star</span>
          {% else %}
          <p>No reviews yet</p>
          {% endif %}
        </div>
        <form id="add-book" action="{% url 'assoc_book' book.id reading_list_id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Add to Reading List</button>
        </form>
      </div>
    </div>
    <p id="synopsis">{{ book.synopsis }}</p>
  </section>

  <section class="add-review">
    <h4 id="review-form">Leave a review!</h4>
    <div class="form-group">
      <form action="{% url 'add_review' book.id %}" method="POST">
        {% csrf_token %}
        {{ review_form.as_p }}
        <button type="submit" class="btn btn-light">Add Review</button>
      </form>
    </div>
  </section>
</div>


<h3 id="reviews-title">Reviews</h3>

{% for review in book.review_set.all %}
<div class="review">
  <div class="user">
    <p id="user" class="material-symbols-outlined">account_circle</p>
    <p id="username"> {{review.user.username}}  |</p>
    {% if review.rating == 1 %}
    <span class="material-symbols-outlined">star</span>
    {% elif review.rating == 1.5 %}
    <span class="material-symbols-outlined">star star_half</span>
    {% elif review.rating == 2 %}
    <span class="material-symbols-outlined">star star</span>
    {% elif review.rating == 2.5 %}
    <span class="material-symbols-outlined">star star star_half</span>
    {% elif review.rating == 3 %}
    <span class="material-symbols-outlined">star star star</span>
    {% elif review.rating == 3.5 %}
    <span class="material-symbols-outlined">star star star star_half</span>
    {% elif review.rating == 4 %}
    <span class="material-symbols-outlined">star star star star</span>
    {% elif review.rating == 4.5 %}
    <span class="material-symbols-outlined">star star star star star_half</span>
    {% else %}
    <span class="material-symbols-outlined">star star star star star</span>
    {% endif %}
  </div>
  <div id="review-info">
    <p>{{review.comment}}</p>
    {% if user.id == review.user.id%}
    <div id="review-actions">
      <a href="{% url 'review_update' book.id review.id %}">
        <span id="action" class="material-symbols-outlined">edit</span>
      </a>
      <a href="{% url 'review_delete' book.id review.id %}">
        <span id="action" class="material-symbols-outlined">delete</span>
      </a>
    </div>
    {% endif %}

  </div>
</div>
{% endfor %}


{% endblock %}