{% extends 'base.html' %}
{% block content %}


<div class="home-content">
    <section class="home-left">
        {% if user.is_authenticated %}
        <h3 class="welcome">Welcome {{ user.username }}!</h3>
        {% else %}
        <h3 class="welcome">Welcome!</h3>
        {% endif %}
        <section class="botm">
            <h2>Book of the Month</h2>
            <div class="botm-info">
                <img id="book-cover" src="./static/css/imgs/book-cover.jpeg" alt="book-cover">
                <div>
                    <h4>{{book_of_the_month.title}}</h4>
                    <p>By {{book_of_the_month.author}}</p>
                    <p>{{book_of_the_month.average_rating}}</p>
                </div>
            </div>
            <p id="synopsis">{{book_of_the_month.synopsis}}</p>
            <button type="button" class="btn btn-primary">
                <a class="link" href="{% url 'detail' book_of_the_month.id %}">View Details</a>
            </button>
        </section>
    </section>
    <section class="home-right">
        <h3>All Books</h3>
        {% for book in books %}
        <a href="{% url 'detail' book.id %}">
            <div class="all-books">
                <div>
                    <h4>{{ book.title }}</h4>
                    <p> By {{ book.author }}</p>
                </div>
                {% if book.average_rating %}
                <div>
                    <p>Rating: {{ book.average_rating|floatformat:1 }}</p>
                </div>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </section>
</div>



{% endblock %}