{% extends 'base.html' %}
{% block content %}
<h2>{{reading_list.user}}'s Reading List</h2>
<div class="list">
    <section >
        {% for book in book_list %}
        <a href="{% url 'detail' book.id %}">
        <div class="book-list">
            <div>
                <h4>{{book.title}}</h4>
                <p>{{book.author}}</p>
            </div>
            <form method="POST" action="{% url 'remove_book' book.id reading_list_id %}">
                {% csrf_token %}
                <button class="btn btn-warning" type="submit">Remove</button>
            </form>
            <form method="post" action="{% url 'mark_as_read' book.id reading_list_id %}">
                {% csrf_token %}
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <button type="submit">Mark as Read</button>
              </form>
        </div>
        {% endfor %}
        </a>
    </section>
    
    <section class="books read">
        <h2>Books Read</h2>
        {% for book in read_list %}
        <a href="{% url 'detail' book.id %}">
            <div>
                <div>
                    <h4>{{book.title}}</h4>
                    <p>{{book.author}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
    
    
</div>


{% endblock %}