{% extends 'base.html' %}
{% block content %}


<div class="form-center">
  <div>
    {% load static %}
    <img class="books-img" src="{%static 'imgs/books.png'%}" alt="book-stack">
    <div id="login-form" class="form-c">
      <h2 class="form-title">Log In</h2>
      <form class="form-group" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <button id="btn-form-4" type="submit" class="btn">Log In</button>
      </form>
    </div>
  </div>
</div>



{% endblock %}
