* {
    margin: 0;
}

nav {
    height: 60px;
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    font-size: 18px;
    text-decoration: none;
}

.container {
    padding: 50px;

}

.home-content {
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;

}

.botm {
    margin-top: 40px;
}

.reviews  {
    margin-top: 40px;
}