* {
    margin: 0;
}

nav {
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    font-size: 18px;
    text-decoration: none;
}