* {
    margin: 0;
    color: black;
}

a:link {
    text-decoration: none;
}

a {
    color: black !important;
}

button > a {
    color: white !important;
}

.container {
    padding: 40px;
}


/* NAVBAR */
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(227, 225, 225);
    font-size: 20px;
    text-decoration: none;
}

#nav-links > .material-symbols-outlined {
    color: rgb(141, 139, 139);
    margin-top: 3.5px;
}

.divider {
    color: rgb(141, 139, 139);
}

#nav-title {
    margin-left: 30px;
    font-size: 35px;
}

#nav-links {
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

#nav-links, #nav-title {
    color: black;
}


/* HOME PAGE - BOTM*/

.home-content {
    width: auto;
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 60px;
}

.welcome {
    margin-left:30px;
    text-transform: uppercase;
}

.botm {
    padding: 30px;
    margin-top: 40px;
    border: 2px lightgray solid;
    border-radius: 10px;
    text-align: center;
}

.botm>h2 {
    margin-bottom: 30px;
}

.botm-info {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.botm-info >img {
    height: 150px;
    margin-right: 25px;
}

.home-left {
    height: 650px;
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
}

/* HOME PAGE - ALL BOOKS */

.home-right>h3 {
    margin-bottom: 30px;
}

.all-books {
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color:whitesmoke;
    box-shadow: 3px 5px 5px rgb(222, 222, 222);
    border-radius: 10px;
}

.all-books:hover {
    background-color: rgb(232, 234, 231);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info > p {
    margin-bottom: 0;
}

.link {
    color: white;
}


#botm-details {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.material-symbols-outlined {
    color: gold;
    word-spacing: -25px;
    margin-top: 3px;
}

/* DETAILS PAGE  - TOP */

.details-top {
    display: grid;
    grid-template-columns: 55% 40%;
    gap: 40px;
    margin-bottom: 40px;
}

.book-details {
    margin-top: 15px;
    padding: 30px;
    border: 2px lightgray solid;
    border-radius: 10px;
}

.cover {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.cover > img {
    height: 220px;
    margin-right: 20px;
    align-items: center;
}

.stars > .material-symbols-outlined{
    font-size: 30px;
}

#synopsis {
    text-align: center;
}

#book-header {
    display: flex;
    justify-content: space-between;
}

#add-book{
    margin-top: 20px ;
}


#action-1, #action-2, #action-3, #action-4 {
    color: darkgray;
    margin: 3px 15px 0 0;
    font-size: 30px;
}

#action-1:hover, #action-2:hover, #action-3:hover, #action-4:hover {
    color: rgb(89, 89, 89);
}

/* DETAILS PAGE - REVIEWS */

.add-review {
    padding: 30px;
}

#reviews-title {
    border-bottom: 2px lightgray solid;
    padding: 20px;

}

.review {
    padding: 20px;
    border-bottom: 2px lightgray solid;
    display: flex; 
    justify-content: space-between;
}
.user {
    display: flex;
    font-size: 20px;
}

#user, #action {
    color: darkgray;
    margin-top: 3px;
}

#action {
    margin: 10px;
}

#username {
    margin: 0 10px;
}

#review-form {
    margin-bottom: 30px;
}

#review-info {
    display: grid;
    grid-template-columns: 85% 20%;
    gap: 60px;
}

#review-actions {
    width: 4vmin;
    display: flex;
   align-items: center;
}



/* READING LIST */

.list {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

.book-list {
    width: 500px;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    box-shadow: 3px 5px 5px rgb(222, 222, 222);
    border-radius: 10px;
}

.read-list {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 20px;
    margin: 20px 0;
    background-color: rgb(248, 248, 248);
    box-shadow: 3px 5px 5px rgb(222, 222, 222);
    border-radius: 10px;
}

.read-list:hover, .book-list:hover {
    background-color: rgb(240, 244, 249);
}

.books-read {
    display: flex;
}

.books-read > .material-symbols-outlined{
    color: green;
    font-size: 70px;
    margin:0 20px;
}

#book-title {
    display: flex;
}

#book-title > .material-symbols-outlined {
    color: navy;
    font-size: 70px;
    margin-right: 20px;
}

#list-buttons {
    display: flex;
}

#user-list {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

button > #action {
    margin: 0;
    font-size: 30px;
}

.btns-p >button {
    margin: 5px;
}

.p {
    margin-bottom: 0;
}

/* FORMS */

.form-center {
    display: flex;
    justify-content: center;
}
.form-b {
    padding-top: 30px;
    border: 2px lightgrey solid;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 3px 5px 5px rgb(222, 222, 222);
}

.title {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.btn, .btn:active, .btn:visited {
    background-color: #40543C !important;
    border: #40543C !important;
    color: white !important;
}

.btn:hover{
    background-color: #546751 !important;
    border: #546751 !important;
}

textarea#id_synopsis {
    width: 92%;
}

.add-form {
    margin:30px 60px;
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 50px;
}

.edit-form {
    padding:30px 60px;
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 50px;
}

#bookshelf {
    margin-left: auto;
    height: 470px;
    border-radius: 10px;
}

#bookshelf-2{
    height: 400px;
    border-radius: 10px;
}

#form-top {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* FORMS - SIGNUP + LOG IN */

.form-a, .form-c{
    padding: 60px;
    width: 900px;
    border: 2px lightgrey solid;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 3px 5px 5px rgb(222, 222, 222);
}

.form-c {
    width: 400px;
}

.form-title {
    margin-bottom: 30px;
}

.button-c {
    margin-top: 30px;
}

#btn-form, #btn-form-1, #btn-form-2, #btn-form-3 {
    margin: 30px 15px 0 0;

}

#delete-form, #delete-form-1 {
    margin-top: 80px;
}