* {
    margin: 0;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}


.container {
    padding: 50px;
}


/* NAVBAR */
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    font-size: 20px;
    text-decoration: none;
}

#nav-title {
    margin-left: 30px;
    font-size: 35px;
}

#nav-links {
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

#nav-links, #nav-title {
    color: black;
}

/* HOME PAGE */

.home-content {
    width: auto;
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 60px;
}

.welcome {
    margin: 60px 0 0 30px;
    text-transform: uppercase;
}

.botm {
    padding: 30px;
    margin-top: 40px;
    border: 2px lightgray solid;
}

.botm>h2 {
    text-align: center;
    margin-bottom: 30px;
}

.botm-info {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.home-left {
    height: 650px;
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
}

.home-right>h3 {
    margin-bottom: 30px;
}

.all-books {
    margin-bottom: 30px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(237, 237, 237);
    box-shadow: 3px 5px 5px rgb(222, 222, 222);
    border: 2px rgb(237, 237, 237) solid;
}

.all-books:hover {
    background-color: rgb(212, 229, 248);
    border: 2px rgb(212, 229, 248) solid;
}

button {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link {
    color: white;
}

#book-cover {
    height: 150px;
    margin-right: 25px;
}

#synopsis {
    margin-bottom: 50px;
}

/* REVIEWS PAGE */

.reviews-section {
    margin-top: 40px;
}

.review {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px gray solid;
}

