* {
    margin: 0;
}

body {
    background-color: #f3efec;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    color: rgb(58, 58, 58);

}

a:link,
a:visited {
    text-decoration: none;
    color: rgb(58, 58, 58);

}

.container {
    padding: 40px;
}


/* NAVBAR */
nav {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #364b32;
    text-decoration: none;
    box-shadow: 2px 3px 5px rgb(124, 123, 123);
}

.link,
.link:visited {
    font-family: 'Bitter', serif;
    font-size: 22px;
    color: #d7cbbe;
    text-shadow: 2px 2px 6px #1e2d1d;
    word-spacing: 10px;
}

.link:hover {
    color: #f3efec;
}

#nav-links {
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

#nav-title,
#nav-title:visited {
    font-family: 'Satisfy', cursive;
    margin-left: 60px;
    font-size: 45px;
    font-weight: 700;
    word-spacing: 20px;
    color: #d7cbbe;
    text-shadow: 2px 3px 5px #1b281a;
}

#nav-title:hover {
    color: #f3efec;
}

#nav-links>.material-symbols-outlined {
    color: #d7cbbe;
    margin-top: 3px;
    font-size: 26px;
    text-shadow: 2px 3px 5px #1b281a;
}

#nav-links>span {
    font-size: 24px;
    color: #d7cbbe;
    margin: 0 5px;
    text-shadow: 2px 3px 5px #1b281a;
}

/* HOME PAGE - BOTM*/

.home-content {
    width: auto;
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 60px;
}

.welcome {
    font-family: 'Bitter', serif;
    margin-left: 30px;
    text-transform: uppercase;
}

.botm {
    padding: 30px;
    margin-top: 40px;
    border: 2px #d7cbbe dotted;
    border-radius: 10px;
    text-align: center;
    background-color: whitesmoke;
}

.botm>h2 {
    margin-bottom: 30px;
    font-family: 'Bitter', serif;
    text-shadow: 2px 2px 5px #d7cbbe;
}

.botm-info {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.botm-info>img {
    height: 150px;
    margin-right: 25px;
}

.home-left {
    height: 650px;
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
}

#botm-btn>a {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    color: white;

}

/* HOME PAGE - ALL BOOKS */

.home-right>h3 {
    margin-bottom: 30px;
    font-family: 'Bitter', serif;
}

.all-books {
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    box-shadow: 3px 5px 5px rgb(222, 222, 222);
    border-radius: 10px;
}

.all-books:hover {
    background-color: #dce2db;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info>p {
    margin-bottom: 0;
}

.link {
    color: white;
}


#botm-details {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.material-symbols-outlined {
    color: gold;
    word-spacing: -25px;
    margin-top: 3px;
}

/* DETAILS PAGE  - TOP */

.details-top {
    display: grid;
    grid-template-columns: 55% 40%;
    gap: 40px;
    margin-bottom: 40px;
}

.book-details {
    margin-top: 15px;
    padding: 30px;
    border: 2px lightgray dotted;
    border-radius: 10px;
    background-color: whitesmoke;
}

.cover {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.cover>img {
    height: 220px;
    margin-right: 20px;
    align-items: center;
}

.stars>.material-symbols-outlined {
    font-size: 30px;
}

#synopsis {
    text-align: center;
}

#book-header {
    display: flex;
    justify-content: space-between;
}

#add-book {
    margin-top: 20px;
}


#action-1,
#action-2,
#action-3,
#action-4 {
    color: rgb(155, 154, 154);
    margin: 3px 15px 0 0;
    font-size: 30px;
}

#action-1:hover,
#action-2:hover,
#action-3:hover,
#action-4:hover,
#action-5:hover,
#action-6:hover,
#action-7:hover {
    color: rgb(89, 89, 89);
}

/* DETAILS PAGE - REVIEWS */

.add-review {
    padding: 30px;
}

#reviews-title {
    border-bottom: 2px lightgray solid;
    padding: 20px;

}

.review {
    padding: 20px;
    border-bottom: 2px #d7cbbe solid;
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    font-size: 20px;
}

#user {
    color: darkgray;
    margin-top: 3px;
}


#username {
    margin: 0 10px;
}

#review-form {
    margin-bottom: 30px;
}

#review-info {
    display: grid;
    grid-template-columns: 85% 20%;
    gap: 60px;
}

#review-actions {
    width: 4vmin;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#user-view {
    text-align: center;
}

/* READING LIST */

.list {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

.book-list {
    width: 500px;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    box-shadow: 3px 5px 5px rgb(222, 222, 222);
    border-radius: 10px;
}

.read-list {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 20px;
    margin: 20px 0;
    background-color: rgb(248, 248, 248);
    box-shadow: 3px 5px 5px rgb(222, 222, 222);
    border-radius: 10px;
}

.read-list:hover,
.book-list:hover {
    background-color: rgb(240, 244, 249);
}

.books-read {
    display: flex;
}

.books-read>.material-symbols-outlined {
    color: rgb(110, 134, 110);
    font-size: 70px;
    margin: 0 20px;
}

#book-title {
    display: flex;
}

#book-title>.material-symbols-outlined {
    color: rgb(95, 116, 155);
    font-size: 70px;
    margin-right: 20px;
}

#list-buttons {
    display: flex;
}

#user-list {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Bitter', serif;
}


.btns-p>button {
    margin: 5px;
}

#list-btn,
#list-btn-1,
#list-btn-3 {
    background-color: rgb(237, 234, 234) !important;
}


#action-5,
#action-6,
#action-7 {
    color: rgb(149, 148, 148);
    margin-top: 3px;
    font-size: 30px;
}

.p {
    margin-bottom: 0;
}

.list-title {
    width: 500px;
    margin-bottom: 20px;
}

/* FORMS */

.form-center {
    display: flex;
    justify-content: center;
}

.form-b {
    font-size: 16px;
    margin-top: 60px;
    padding-top: 30px;
    border: 2px lightgrey solid;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 3px 5px 5px rgb(222, 222, 222);
}

.title {
    font-family: 'Bitter', serif;
    font-size: 32px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.btn,
.btn:active,
.btn:visited {
    background-color: #40543C !important;
    border: #40543C !important;
    color: white !important;
}

.btn:hover {
    background-color: #546751 !important;
    border: #546751 !important;
}

textarea#id_synopsis {
    width: 97%;
}

.add-form {
    margin: 30px 60px;
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 30px;
}

.edit-form {
    padding: 30px 60px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
}

#bookshelf {
    margin-left: auto;
    height: 470px;
    border-radius: 10px;
}

#bookshelf-2 {
    height: 400px;
    border-radius: 10px;
}

#center-img {
    display: flex;
    justify-content: center;
}

#form-top {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* FORMS - SIGNUP + LOG IN */

.form-a,
.form-c,
#login-form {
    margin-top: 50px;
    padding: 60px;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.935);
    box-shadow: 3px 5px 5px rgb(162, 161, 161);
}

.form-a {
    width: 1200;
}

.form-c {
    width: 400px;
    box-shadow: 3px 5px 5px rgb(60, 59, 59);
}

.form-title {
    margin-bottom: 30px;
}

.books-img {
    margin-top: 20px;
    width: 1000px;
    height: 600px;
    position: relative;
    border-radius: 10px;
}

#login-form {
    margin-top: 100px;
}

#login-form,
#delete-form,
#delete-form-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

#btn-form,
#btn-form-1,
#btn-form-2,
#btn-form-3,
#btn-form-4 {
    margin: 30px 15px 0 0;

}

#btn-form-2,
#btn-form-1 {
    background-color: rgb(158, 28, 28) !important;
}

#delete-form,
#delete-form-1 {
    margin-top: 50px;
    width: 500px;
}

#link-del-1:visited,
#link-del-1,
#link-del-2:visited,
#link-del-2 {
    color: white;
}

@media only screen and (max-width: 1000px) {


    .home-content,
    .list,
    .details-top,
    .add-form,
    .edit-form {
        display: flex;
        flex-direction: column;
    }

    .home-left,
    nav {
        position: static;
        height: auto;
    }

    .title {
        padding: 0 100px;
    }

    .form-c,
    .form-b, #login-form {
        margin-top: 15px;
    }

    #nav-title,
    #nav-links {
        margin-left: 15px;
    }

    #bookshelf,
    #bookshelf-2 {
        margin: 0;
        width: 100%;
        height: 100px;
    }

}

@media screen and (max-width: 415px) {

    * {
        font-size: 16px;
    }

    .home-content,
    .list,
    .details-top,
    .add-form,
    .edit-form,
    .cover,
    .review,
    .botm-info {
        display: flex;
        flex-direction: column;
    }

    .home-left,
    nav {
        position: static;
        height: auto;
    }

    .link,
    .link:visited {
        font-size: 18px;
    }

    .title {
        font-size: 20px;
        padding: 0 50px;
    }

    .form-c,
    .form-b {
        margin-top: 15px;
        width: 350px;
    }

    .botm-info>img {
        height: 200px;
    }

    .book-details {
        padding: 10px;
    }

    .books-img{
        margin-top: 10px;
        width: 100%;
        height: 500px;

    }

    #botm-details {
        margin: 15px 10px;
        text-align: center;
    }

    #user.material-symbols-outlined {
        margin-top: 0;
    }

    span>.material-symbols-outlined {
        margin-top: 0;
    }

    #nav-title,
    #nav-links {
        margin-left: 15px;
    }

    #nav-title {
        font-size: 30px;
    }

    #nav-links>span {
        font-size: 28px;
    }

    #bookshelf,
    #bookshelf-2 {
        margin: 0;
        width: 100%;
        height: 100px;
    }

    #book-header,
    #form-top {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #delete-form,
    #delete-form-1, #login-form {
        margin-top: 20px;
        width: 250px;
        padding: 20px;
    }

    #login-form {
        margin-top: 0;
    }

}