* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    width: 100%;
    background-color: #f3efec;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    color: rgb(58, 58, 58);

}

a:link,
a:visited {
    text-decoration: none;
    color: rgb(58, 58, 58);
}

.container {
    padding: 40px;
}


/* NAVBAR */
#nav-style {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #364b32;
    text-decoration: none;
    box-shadow: 2px 3px 5px rgb(124, 123, 123);
}

.link,
.link:visited,
.link:link {
    font-family: 'Bitter', serif;
    font-size: 20px;
    color: #d7cbbe;
    text-shadow: 2px 2px 6px #1e2d1d;
    word-spacing: 10px;
}

.link:hover {
    color: #f3efec;
}

.nav-links {
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#nav-title,
#nav-title:visited {
    font-family: 'Satisfy', cursive;
    margin-left: 60px;
    font-size: 45px;
    font-weight: 700;
    word-spacing: 20px;
    color: #d7cbbe;
    text-shadow: 2px 3px 5px #1e2d1d;
    ;
}

#nav-title:hover {
    color: #f3efec;
}

.nav-links>.material-symbols-outlined {
    color: #d7cbbe;
    margin-top: 3px;
    font-size: 24px;
    text-shadow: 2px 3px 5px #1b281a;
}

.nav-links>span {
    font-size: 22px;
    color: #d7cbbe;
    margin: 0 5px;
    text-shadow: 2px 3px 5px #1b281a;
}


/* HOME PAGE - BOTM*/

.home-content {
    width: auto;
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 60px;
}

.welcome {
    font-family: 'Bitter', serif;
    margin-left: 15px;
    text-transform: uppercase;
}

.botm {
    padding: 30px;
    margin-top: 20px;
    border: 2px #d7cbbe dotted;
    border-radius: 10px;
    text-align: center;
    background-color: whitesmoke;
}

.botm>h2 {
    margin-bottom: 30px;
    font-family: 'Bitter', serif;
    text-shadow: 2px 2px 5px #d7cbbe;
}

.botm-info {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.botm-info>img {
    height: 150px;
    margin-right: 25px;
}

.home-left {
    height: 650px;
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
}

#botm-btn>a {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    color: white;

}

/* HOME PAGE - ALL BOOKS */

.home-right>h3 {
    margin-bottom: 30px;
    font-family: 'Bitter', serif;
}

.all-books {
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    box-shadow: 3px 5px 5px rgb(222, 222, 222);
    border-radius: 10px;
}

.all-books:hover {
    background-color: #dce2db;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info>p {
    margin-bottom: 0;
}

.link {
    color: white;
}


#botm-details {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.material-symbols-outlined {
    color: gold;
    word-spacing: -25px;
    margin-top: 3px;
}

#instructions {
    font-size: 16px;
    margin-bottom: 0;
    width: 400px;
    text-transform: uppercase;
    margin-left: 15px;
}

/* DETAILS PAGE  - TOP */

.details-top {
    display: grid;
    grid-template-columns: 55% 40%;
    gap: 40px;
    margin-bottom: 40px;
}

.book-details {
    margin-top: 15px;
    padding: 30px;
    border: 2px lightgray dotted;
    border-radius: 10px;
    background-color: whitesmoke;
}

.cover {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.cover>img {
    height: 220px;
    margin-right: 20px;
    align-items: center;
}

.stars>.material-symbols-outlined {
    font-size: 30px;
}

#synopsis {
    text-align: center;
}

#book-header {
    display: flex;
    justify-content: space-between;
}

#add-book {
    margin-top: 20px;
}


#action-1,
#action-2,
#action-3,
#action-4 {
    color: rgb(155, 154, 154);
    margin: 3px 15px 0 0;
    font-size: 30px;
}

#action-1:hover,
#action-2:hover,
#action-3:hover,
#action-4:hover,
#action-5:hover,
#action-6:hover,
#action-7:hover {
    color: rgb(89, 89, 89);
}

/* DETAILS PAGE - REVIEWS */

.add-review {
    padding: 30px;
}

#reviews-title {
    border-bottom: 2px lightgray solid;
    padding: 20px;

}

.review {
    padding: 20px;
    border-bottom: 2px #d7cbbe solid;
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    font-size: 20px;
}

#user {
    color: darkgray;
    margin-top: 3px;
}


#username {
    margin: 0 10px;
}

#review-form {
    margin-bottom: 30px;
}

#review-info {
    display: grid;
    grid-template-columns: 85% 20%;
    gap: 60px;
}

#review-actions {
    width: 4vmin;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#user-view {
    text-align: center;
}

/* READING LIST */

.list {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 40px;
}

.book-list {
    width: 500px;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    box-shadow: 3px 5px 5px rgb(222, 222, 222);
    border-radius: 10px;
}

.read-list {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 20px;
    margin: 20px 0;
    background-color: rgb(248, 248, 248);
    box-shadow: 3px 5px 5px rgb(222, 222, 222);
    border-radius: 10px;
}

.read-list:hover,
.book-list:hover {
    background-color: rgb(240, 244, 249);
}

.books-read {
    display: flex;
}

.books-read>.material-symbols-outlined {
    color: rgb(110, 134, 110);
    font-size: 70px;
    margin: 0 20px;
}

#book-title {
    display: flex;
}

#book-title>.material-symbols-outlined {
    color: rgb(95, 116, 155);
    font-size: 70px;
    margin-right: 20px;
}

#list-buttons {
    display: flex;
}

#user-list {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Bitter', serif;
}


.btns-p>button {
    margin: 5px;
}

#list-btn,
#list-btn-1,
#list-btn-3 {
    background-color: rgb(237, 234, 234) !important;
}


#action-5,
#action-6,
#action-7 {
    color: rgb(149, 148, 148);
    margin-top: 3px;
    font-size: 30px;
}

.p {
    margin-bottom: 0;
}

.list-title {
    font-size: 1.5em;
    width: 500px;
    margin-bottom: 20px;
}

.list-text {
    font-size: 1em;
}

/* FORMS */

.form-center {
    display: flex;
    justify-content: center;
}

.form-add {
    font-size: 16px;
    margin-top: 30px;
    padding-top: 30px;
    border: 2px lightgrey solid;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 3px 5px 5px rgb(222, 222, 222);
}

.title {
    font-family: 'Bitter', serif;
    font-size: 32px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.btn,
.btn:active,
.btn:visited {
    background-color: #40543C !important;
    border: #40543C !important;
    color: white !important;
}

.btn:hover {
    background-color: #546751 !important;
    border: #546751 !important;
}

textarea#id_synopsis {
    width: 97%;
}

.add-form {
    margin: 30px 60px;
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 30px;
}

.edit-form {
    padding: 30px 60px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
}

#bookshelf {
    margin-left: auto;
    height: 470px;
    border-radius: 10px;
}

#bookshelf-2 {
    height: 400px;
    border-radius: 10px;
}

#center-img {
    display: flex;
    justify-content: center;
}

#form-top {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* FORMS - SIGNUP + LOG IN */

.form-a,
.form-l {
    padding: 60px;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.935);
    box-shadow: 3px 5px 5px rgb(83, 82, 82);
}

.form-a {
    width: 1200;
    box-shadow: 3px 5px 5px rgb(153, 152, 152);

}

.form-l {
    width: 400px;
    box-shadow: 3px 5px 5px rgb(60, 59, 59);
}

.books-img {
    margin-top: 20px;
    width: 100%;
    height: 600px;
    position: relative;
    border-radius: 10px;
}

.form-center {
    position: relative;
}

#login-form,
#delete-form,
#delete-form-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btn-form,
#btn-form-1,
#btn-form-2,
#btn-form-3,
#btn-form-4 {
    margin: 30px 15px 0 0;

}

#btn-form-2,
#btn-form-1 {
    background-color: rgb(158, 28, 28) !important;
}

#delete-form,
#delete-form-1 {
    width: 500px;
}

#link-del-1:visited,
#link-del-1,
#link-del-2:visited,
#link-del-2 {
    color: white;
}

@media only screen and (max-width: 1070px) {

    html {
        box-sizing: 0;
    }

    .home-content,
    .list,
    .details-top,
    .add-form,
    .edit-form,
    #nav-style {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .home-left {
        position: static;
        height: auto;
    }

    .title {
        padding: 0 100px;
    }

    .form-l,
    .form-add {
        margin-top: 15px;
    }

    .cover>img {
        display: flex;
        justify-content: center;
        margin: 15px 0;
        margin-right: 0;
    }

    .cover {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .material-symbols-outlined {
        margin-top: 0;
        font-size: 16px;
    }

    .form-center>form {
        width: 350px;
    }

    .book-list,
    .read-list {
        width: 100%;
        margin: 15px 0;
    }

    .botm-info>img {
        width: 150px;
    }

    textarea#id_comment {
        width: 100%;
    }

    #nav-style {
        height: auto;
    }

    #synopsis {
        margin-top: 15px;
    }


    #mq-book-info {
        text-align: center;
    }

    #nav-title,
    .nav-links {
        margin-left: 15px;
    }

    #nav-title {
        font-size: 32px;
    }

    .list-title {
        max-width: 350px;
        font-size: 20px;
    }

    .link,
    .link:visited,
    .link:link {
        font-size: 16px;
        word-spacing: 0;
        margin-left: 5px;
    }

    .nav-links>.material-symbols-outlined {
        font-size: 18px;
    }

    .nav-links>span {
        font-size: 18px;
    }

    #center-img,
    #img-1 {
        visibility: hidden;
        height: 0px;
    }

    #delete-form,
    #delete-form-1,
    #login-form {
        margin: 0;
        width: 280px;
        padding: 20px;
    }
}

@media only screen and (max-width: 655px) {

    * {
        font-size: 16px;
    }

    .list,
    .details-top,
    .add-form,
    .edit-form,
    .cover,
    .review,
    #form-top,
    #nav-style {
        display: flex;
        flex-direction: column;
    }

    .form-add {
        width: 90%;
    }

    .nav-links>.material-symbols-outlined {
        display: none;
    }



    #nav-style {
        display: flex;
        flex-direction: column;
    }

    #nav-title {
        font-size: 28px;
        margin: 0;
    }


    #instructions {
        font-size: 14px;
        width: auto;
    }

    #book-title>.material-symbols-outlined {
        font-size: 35px;
        display: flex;
        align-items: center;
    }

    .books-read>.material-symbols-outlined {
        font-size: 35px;
        margin: 0 15px 0 0;
        display: flex;
        align-items: center;
    }

    .title {
        font-size: 20px;
        padding: 0 50px;
    }


}

@media screen and (max-width: 430px) {

    * {
        font-size: 16px;
    }

    .container {
        padding: 20px;
    }

    .home-content,
    .list,
    .details-top,
    .add-form,
    .edit-form,
    .cover,
    .review,
    .botm-info,
    #nav-style {
        display: flex;
        flex-direction: column;
    }

    .botm-info {
        display: flex;
        align-items: center;
    }

    .home-left {
        position: static;
        height: auto;
    }

    .link,
    .link:visited,
    .link:link {
        font-size: 16px;
    }


    .form-l {
        margin-top: 30px;
        width: 350px;
    }

    .form-a,
    .form-add {
        margin-top: 0px;
    }

    .add-form {
        margin: 0;
        padding: 0;
    }

    .botm-info>img {

        height: 150px;
        margin-right: 0;
    }

    .book-details {
        padding: 10px;
    }

    .books-img {
        margin-top: 0px;
        width: 100%;
        height: 500px;

    }

    .title>span {
        font-size: 20px;
    }

    .list-title {
        max-width: 250px;
        font-size: 20px;
    }

    .list {
        padding: 0;
    }

    .mq-title>h5 {
        font-size: 16px;
    }

    .mq-title>p {
        font-size: 14px;
    }

    .welcome {
        margin-left: 0;
        text-align: center;
    }

    .mq-center {
        display: flex;
        align-items: center;
    }

    .form-center>form {
        width: 250px;
    }

    #nav-style {
        padding: 7px;
    }

    #read-title {
        margin-top: 30px;
    }

    #action-5,
    #action-6,
    #action-7 {
        margin-top: 3px;
        font-size: 18px;
    }

    #botm-details {
        margin: 15px 10px;
        text-align: center;
    }

    #user.material-symbols-outlined {
        margin-top: 0;
    }

    span>.material-symbols-outlined {
        margin-top: 0;
    }


    textarea#id_synopsis {
        width: 80%;
        margin: 0 20px;
    }

    .nav-links {
        font-size: 14px;
        width: 100%;
        margin: 0px 0;
        gap: 0;
        display: flex;
        justify-content: center;
    }

    .link,
    .link:visited,
    .link:link {
        font-size: 14px;
    }

    #nav-title,
    #nav-title:visited {
        width: 100%;
        margin: 0;
        gap: 0;
        display: flex;
        justify-content: center;
    }

    .nav-links>span {
        font-size: 16px;
    }

    .nav-links>.material-symbols-outlined {
        display: none;
    }

    #book-header,
    #form-top,
    #form-bottom {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #delete-form,
    #delete-form-1,
    #login-form {
        margin: 0;
        width: 280px;
        padding: 20px;
    }

    #user-list {
        font-size: 20px;
    }

}